In [4]:
import numpy as np

# input: education level, output: income

education = [1, 2, 3, 4, 5, 6]
income = [35500, 41800, 45200, 49500, 66600, 80200]

y = income
X = np.ones((len(education), 2))
X[:, 1] = education

w = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

In [5]:
w

array([22913.33333333,  8634.28571429])

Linear fit: Income is 23000 + 8600x, where x is education level.